<h2>Список клиентов: </h2>
<p>Тут Вы можете увидеть список записавшихся</p>

<table class="table">
<tr>
<td>aa</td>
<td>bb</td>
</tr>
<tr>
<td>cc</td>
<td>dd</td>
</tr>
<tr>
<td>ee</td>
<td>ff</td>
</tr>
<tr>
<td>tt</td>
<td>rr</td>
</tr>
</table>